article{
    background-color:#FFECB3;
    color: #333;
    font-size: 16px;
    p{
        line-height: 1.5;
        font-style: italic;
    }
}
article.featured{
    background-color: #FFD54F;
    font-weight: bold;
    border: 2px solid #FFA000;
}
article.featured:hover{
    background-color: #FFB300;
}
article.regular {
    animation: slideIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
    
