article{
    background-color:#FFECB3;
    color: #333;
    font-size: 16px;
    p{
        line-height: 1.5;
        font-style: italic;
    }
}
article.featured{
    background-color: #FFD54F;
    font-weight: bold;
    border: 2px solid #FFA000;
}
article:hover{
    background-color: #FFB300;
}

    